# Magento / Composer
/vendor/
/generated/
/var/
/pub/static/
/pub/media/

# Cache / build
/.idea/
/.vscode/
/node_modules/
/npm-debug.log
/yarn-error.log

# System / OS
.DS_Store
Thumbs.db

# PHPUnit
/.phpunit.result.cache
