<?xml version="1.0"?>
<!--
 @author    Carlos Deotti <deotti@gmail.com>
 @copyright 2026 AdDeo
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="addeo_customer_sanitizer"
                type="AdDeo\CustomerNameSanitaizer\Plugin\CustomerRepositoryPlugin"/>
    </type>

    <type name="AdDeo\CustomerNameSanitaizer\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customer_sanitizer</argument>
            <argument name="handlers" xsi:type="array">
                <item name="main" xsi:type="object">AdDeo\CustomerNameSanitaizer\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
